* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#button {
    padding: 0.5rem 1rem;
    border: 2px solid black;
    color: black;
    background-color: white;
    font-weight: 700;
    font-size: 1.2rem;
}